body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin-bottom: 60px; /* Adicionando espaço para o footer */
}

.container {
    max-width: 800px;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.summary {
    margin-bottom: 20px;
    line-height: 1.6;
}

.title2 {
    color: #333;
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    left: 0;
    bottom: 0;
    width: 100%;
}
